.userBlock1 img {
    width: 40px;
    height: 40px;
    display: block;
    margin: 0 auto;
}

.userBlock1 button {
    display: block;
    border: none;
    padding: 10px;
    border-radius: 5px;
    background: transparent;
    margin: 0 auto;
}

.userBlock1 button:hover {
    background: lightblue;
    transition: ease-out 0.5s;
}

.userBlock1, .userBlock2 {
    display: inline-block;
    margin-top: 15px  
}
.userBlock2 {
    position: absolute;
}

