.loginArea input, .loginArea button {
    display: block;
    margin: 10px;
    padding: 10px;
    border-radius: 5px
}

.loginArea input {
    background: transparent;
}

.loginArea button {
    background: lightblue;
    border: unset;
}

.loginArea span, .errorMessage {
	color: red;
	margin-left: 10px
}

.rememberMeCheckbox input {
    display: inline;
}

.loginArea h2 {
	margin: 10px;
}