.nav {
    grid-area: n;
    background-color: #8DB6CD;
}

.item {
    padding: 10px;
}

.item a {
    text-decoration: none;
    color: black;
}

.item a:hover {
    color: #696969
}

.item a.activeLink {
    color: #696969;
}

.item {
    font-family: "Courier New", Courier, monospace;
    font-size: 18px;
    letter-spacing: 1.4px;
    word-spacing: -0.8px;
    color: #000000;
    font-weight: 500;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: capitalize;
}